* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-weight: 300; }

body {
  background-color: #fbfbfb;
  overflow: hidden; }

a {
  color: gray;
  text-decoration: none; }

.wrapper {
  width: 960px;
  max-width: 90%;
  margin: 0 auto; }

/* menu bar */
.nav-up {
  margin-top: -150px; }

.menu-bar {
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  right: 0;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 500;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  overflow: hidden;
  z-index: 99; }

.logo {
  position: absolute;
  width: 20px;
  padding-top: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.outLogo {
  width: 20px;
  position: absolute;
  opacity: 0;
  float: left;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.name {
  font-size: 16px;
  font-weight: 500;
  float: left;
  padding: 100px 0px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.outName {
  font-size: 16px;
  font-weight: 500;
  float: left;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.links {
  float: right; }
  .links a {
    text-decoration: none;
    margin-left: 20px; }
    .links a:hover {
      color: #4c4c4c; }

/* headline */
.headline {
  padding-top: 125px;
  padding-bottom: 72px;
  width: 80%; }
  .headline h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 48px; }
  .headline h3 {
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 24px; }
  .headline .button {
    display: inline-block;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    border: 1px solid #dddddd;
    color: #999999;
    text-decoration: none;
    padding: 11px 21px;
    border-radius: 5px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .headline .button:hover {
      border: 1px solid #999;
      color: #333;
      -webkit-box-shadow: 0 1px 2px #999;
              box-shadow: 0 1px 2px #999; }
  .headline .img {
    margin-top: 50px;
    width: 125%;
    height: 400px;
    background-image: url("../img/landscape-man.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.3);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.3);
    -webkit-transition: background-color 300ms ease, all 300ms ease;
    transition: background-color 300ms ease, all 300ms ease; }
    .headline .img:hover {
      -webkit-box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.4);
              box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.4);
      -webkit-transform: translate(0px, -2px);
      transform: translate(0px, -2px); }

.about {
  background-color: black;
  padding: 100px 0px;
  color: white; }
  .about h1 {
    width: 75%;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px; }
  .about p {
    width: 75%;
    font-size: 34px; }

.what h1 {
  padding: 100px 0px;
  display: inline-block;
  font-weight: 700; }
.what a {
  padding: 100px 0px;
  display: inline-block;
  float: right;
  font-weight: 500;
  font-size: 15px;
  color: #999; }
  .what a:hover {
    color: #000; }

.work .content {
  height: 1100px; }
  .work .content .work-example {
    float: left;
    width: 300px;
    height: 300px;
    padding: 0;
    background-color: black;
    margin: 30px 10px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.3);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.3);
    position: relative; }
    .work .content .work-example:hover {
      -webkit-box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.4);
              box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.4); }
    .work .content .work-example:hover h1 {
      opacity: 1; }
    .work .content .work-example h1 {
      width: 200px;
      position: absolute;
      margin-left: 50px;
      opacity: 0;
      color: black;
      text-align: center;
      -webkit-transition: .3s;
      transition: .3s;
      top: 65%; }
      .work .content .work-example h1 span {
        font-size: 75%; }
    .work .content .work-example .img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      -webkit-transition: 30s cubic-bezier(1, 0.01, 0, 0.99);
      transition: 30s cubic-bezier(1, 0.01, 0, 0.99);
      background-image: url("https://blind.com/wp-content/uploads/cache/2017/08/blind-internship-fall-2017-16x9/1213184532.png"); }

@media only screen and (max-width: 800px) {
  .links {
    display: none; } }
@media only screen and (min-width: 800px) {
  .hamburger {
    display: none; } }
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  float: right;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: transparent;
  border: none;
  outline: none; }

.hamburger-box {
  margin-top: 18px;
  width: 40px;
  height: 25px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 6px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*# sourceMappingURL=main.css.map */