* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-weight: 300;
}
body {
  background-color: #fbfbfb;
}
a {
  color: gray;
  text-decoration: none;
}
.wrapper {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}
